#ChatbotGpt {
  background-color: rgb(240, 247, 243);
  border: 1px solid #c4dfcf;
  border-radius: 5px;
  width: 47%;
  /* max-width:  */
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#ChatbotGemini {
  background-color: rgb(240, 244, 255);
  border: 1px solid #cedcff;
  border-radius: 5px;
  width: 47%;
  /* max-width:  */
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.ContentContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: flex-end;
}

.chatGptLogoBox {
  background-color: #74aa9c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  box-shadow: 3px 3px 12px -1px #dadada;
}

.chatGptLogo {
  width: 25px;
  height: 25px;
}

.geminiLogoBox {
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  box-shadow: 3px 3px 12px -1px #dadada;
}

.geminiLogo {
  width: 20px;
  height: 20px;
}

.contentBox {
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.loadingBox {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  line-height: 1.2em;
  word-break: keep-all;
  text-align: center;
}

.messageWait {
  font-size: 13px;
}

.message {
  background-color: #ffffff;
  width: 80%;
  /* height: auto; */
  margin-bottom: 5px;
  font-size: 13px;
  margin: 5px 5px 0 15px;
  padding: 5px;
  border-radius: 5px 5px 5px 0;
  line-height: 1.5em;
}
