html,
body {
  height: 100%;
}
#wrapper {
  height: 100%;
}
.section {
  height: 100%;
}

p,
ol,
li {
  margin: 0;
  padding: 0;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 5px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
  unicode-bidi: isolate;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -ms-font-smoothing: antialiased; */
  -ms-overflow-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}
